# Auto detect text files and perform LF normalization
* text=auto
multi/5DZR/feature.pkl filter=lfs diff=lfs merge=lfs -text
multi/5DZR/JF_colabfold/feature.pkl filter=lfs diff=lfs merge=lfs -text
multi/4XGT/feature.pkl filter=lfs diff=lfs merge=lfs -text
multi/4XGT/JF_colabfold/feature.pkl filter=lfs diff=lfs merge=lfs -text
multi/4U4J/feature.pkl filter=lfs diff=lfs merge=lfs -text
multi/7KVE/feature.pkl filter=lfs diff=lfs merge=lfs -text
multi/7KVE/JF_colabfold/feature.pkl filter=lfs diff=lfs merge=lfs -text

